

.list{
    color: white
}

#add{
    text-align: center;
    color:white;
    font-size: 18px
}

img{
   
    margin: 3px;
}

p{
    color: white;
}

.character{
background-color: rebeccapurple;
box-shadow: 5px 10px;
}

#add-character{
    background-color: rebeccapurple;
    box-shadow: 5px 10px;
}